$bg-color: rgb(255, 255, 255);

$nav-link-color: rgb(0, 0, 0);
$text-color: rgb(165, 171, 186);

$primary-color: rgb(52, 52, 52);
$secondary-color: rgb(67, 104, 218);

$beau-blue: hsla(210, 74%, 89%, 1);
$alice-blue: hsla(208, 83%, 93%, 1);